@model PaginatedList<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/manage/Views/Shared/_Layout.cshtml";
    int count = (Model.PageIndex - 1) * Model.PageSize;
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tags</h1>
        <a asp-action="create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Create Category</a>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        count++;
                            <tr>
                                <th scope="row">@count</th>
                                <td>@item.Name</td>
							<td>
								<a asp-action="edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
								@if (User.Identity.IsAuthenticated && User.IsInRole("superadmin"))
								{
									<a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
								}
							</td>
                            </tr>
                    }


                </tbody>

            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item @(Model.HasPrev?"":"disabled")"><a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex-1)">Previous</a></li>
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                            <li class="page-item @(Model.PageIndex==i?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                    }
                    <li class="page-item @(Model.HasNext?"":"disabled")"><a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex+1)">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>


