@model List<Order>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="main-header" style="margin-top: 0px;">
        <h4>Orders</h4>
        <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
            <li class="breadcrumb-item">
                <a asp-area="AdminAreas" asp-controller="Home" asp-action="Statistics">
                    <i class="icofont icofont-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#!">Orders</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-area="AdminAreas" asp-controller="Order" asp-action="Index">Order</a>
            </li>
        </ol>
    </div>
</div>

<table class="table">
    <thead>
        <tr>

            <th>
                #
            </th>
            <th>
                Fullname
            </th>
            <th>
                City
            </th>
            <th>
                Address
            </th>

            <th>
                Date
            </th>

            <th>
                Number
            </th>
            <th>
                TotalPrice
            </th>
            <th>
                Message
            </th>
            <th>
                Status
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Order order in Model)
        {

                <tr>
                    <td>
                    @order.Id
                    </td>
                    <td>
                    @order.City
                    </td>
                    <td>
                    @order.Address
                    </td>
                    <td>
                    @order.Number
                    </td>
                    <td>
                        <span>₼</span>@order.TotalPrice
                    </td>
                    <td>
                    @order.Message
                    </td>
                    <td>
                    @order.Date.ToString("dd.MMMM.yyyy HH:mm")
                    </td>
                @if (order.Status == null)
                {
                            <td>
                                <button class="btn btn-warning">
                                    Pending
                                </button>
                            </td>
                }
                else if (order.Status == true)
                {
                            <td>
                                <button class="btn btn-success">
                                    Accepted
                                </button>
                            </td>
                }
                else
                {
                            <td>
                                <button class="btn btn-danger">
                                    Rejected
                                </button>
                            </td>
                }


                    <td>
                        <a style="display:flex;justify-content:center;align-items:center" class="btn btn-warning" asp-controller="Order" asp-action="Edit" asp-route-id="@order.Id">Details</a>



                    </td>
                </tr>
        }
    </tbody>
</table>

