@model List<Product>
<section class="section-1-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                    <div class="  mb-100">
                    <aside class="sidebar ltn__shop-sidebar">
                        <!-- Advance Information widget -->
                        <div class="widget ltn__menu-widget">
                            <h4 class="ltn__widget-title">Brands</h4>
                            <ul>
                                @foreach (Brand brand in ViewBag.Brands)
                            {
                                <li>
                                    <label class="checkbox-item">
                                        @brand.Name
                                        <input form="filterForm" type="checkbox"  name="BrandId" id="city-@brand.Id" value="@brand.Id" @(ViewBag.BrandId==brand.Id?"checked":"")>
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            }
                            </ul>
                            <hr>
                            <h4 class="ltn__widget-title">Category</h4>
                            <ul>
                                @foreach (Category category in ViewBag.Categories)
                               {
                                <li>
                                    <label class="checkbox-item">
                                        @category.Name
                                        <input form="filterForm" type="checkbox"  name="categoryId" id="category-@category.Id" value="@category.Id" @(ViewBag.CategoryId==category.Id?"checked":"")>
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">@category.Products.Count</span>
                                </li>
                               }
                            </ul>
                            <ul>
                            <form method="get" id="filterForm">
                                <button  type="submit" class="sidebar-title w-100 btn btn-warning mt-100">Filter</button>
                            </form>
                            </ul>
                        </div>
                        <!-- Search Widget -->
                        <div class="widget ltn__search-widget d-none">
                            <h4 class="ltn__widget-title ltn__widget-title-border">Search Objects</h4>
                            <form action="#">
                                <input type="text" name="search" placeholder="Search your keyword...">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>

                    </aside>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                @foreach (var item in Model)
                    {
                             <div class="col-lg-4">
                        <div>
                            <div><a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id" >
                                        <img src="~/uploads/products/@item.ProductImages.First().Image" alt="">
                            </a></div>
                        </div>
                        <div>
                            <h5>@item.Name</h5>
                            <p>Kod:@item.Id</p>
                            <span>₼ @item.Price</span>
                        </div>
                    </div>
                    }
                
                </div>
                        <div class="justify-content-end">
            <nav style="margin-top:1rem;" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
        </div>
            </div>
        </div>
    </div>
</section>